.exxp_wp_collapsible {
    background-color: #8e8e8e;
    color: white;
    cursor: pointer;
    padding: 7px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.exxp_wp_active, .exxp_wp_collapsible:hover {
    background-color: #555;
}

.exxp_wp_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.exxp_wp_collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.exxp_wp_active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
